doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 汉字学院 | #{pagina}
        //- Esta línea es la que conecta tu diseño
        link(rel="stylesheet", href="/css/app.css")
    body.min-h-screen.bg-red-50
        main.mx-auto.container.px-4
            block content